<div class="text-center">
  <h1>{{name}}</h1>
  <p>{{description}}</p>
  <p>Posted by {{user.name}}</p>
  {{#if comments.length}}
  <p>Comments: {{comments}}</p>
  {{else}}
  <p>No comments</p>
  {{/if}}
</div>